# Cara mengambil data dari API Covid19
Data yang saya gunakan berasal dari website https://apicovid19indonesia-v2.vercel.app/

Dokumentasi lengkapnya bisa baca disini: https://github.com/Reynadi531/api-covid19-indonesia-v2

### Import Semua Library yang dipakai

In [1]:
import requests
import json
import pandas as pd
import datetime
from datetime import datetime

### Proses pengambilan data melalui API

In [2]:
url = "https://apicovid19indonesia-v2.vercel.app/api/indonesia/harian"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.status_code)
print('Data berhasil diambil')
#print(response.text)

200
Data berhasil diambil

### Mengubah json file menjadi string

In [3]:
text = json.dumps(response.json(), sort_keys=False, indent=4)
#print(text)

### Membuat dataframe

In [4]:
df = pd.read_json(text, orient='records')
df

,positif,dirawat,sembuh,meninggal,positif_kumulatif,dirawat_kumulatif,sembuh_kumulatif,meninggal_kumulatif,lastUpdate,tanggal
0,2,2,0,0,2,2,0,0,1583107200000,2020-03-02T00:00:00.000Z
1,0,0,0,0,2,2,0,0,1583193600000,2020-03-03T00:00:00.000Z
2,0,0,0,0,2,2,0,0,1583280000000,2020-03-04T00:00:00.000Z
3,0,0,0,0,2,2,0,0,1583366400000,2020-03-05T00:00:00.000Z
4,2,2,0,0,4,4,0,0,1583452800000,2020-03-06T00:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...
744,13018,-19474,32262,230,5927550,279969,5494606,152975,1647388800000,2022-03-16T00:00:00.000Z
745,11532,-17492,28787,237,5939082,262477,5523393,153212,1647475200000,2022-03-17T00:00:00.000Z
746,9528,-16498,25827,199,5948610,245979,5549220,153411,1647561600000,2022-03-18T00:00:00.000Z
747,7951,-16245,24008,188,5956561,229734,5573228,153599,1647648000000,2022-03-19T00:00:00.000Z
748,5922,-10046,15829,139,5962483,219688,5589057,153738,1647734400000,2022-03-20T00:00:00.000Z

### Mengubah kolom tanggal&waktu menjadi tanggal

In [6]:
#datetime to date conversion
df['tanggal'] = pd.to_datetime(df['tanggal']).dt.date
df['tanggal'] = pd.to_datetime(df['tanggal'])
df

,positif,dirawat,sembuh,meninggal,positif_kumulatif,dirawat_kumulatif,sembuh_kumulatif,meninggal_kumulatif,lastUpdate,tanggal
0,2,2,0,0,2,2,0,0,1583107200000,2020-03-02
1,0,0,0,0,2,2,0,0,1583193600000,2020-03-03
2,0,0,0,0,2,2,0,0,1583280000000,2020-03-04
3,0,0,0,0,2,2,0,0,1583366400000,2020-03-05
4,2,2,0,0,4,4,0,0,1583452800000,2020-03-06
...,...,...,...,...,...,...,...,...,...,...
744,13018,-19474,32262,230,5927550,279969,5494606,152975,1647388800000,2022-03-16
745,11532,-17492,28787,237,5939082,262477,5523393,153212,1647475200000,2022-03-17
746,9528,-16498,25827,199,5948610,245979,5549220,153411,1647561600000,2022-03-18
747,7951,-16245,24008,188,5956561,229734,5573228,153599,1647648000000,2022-03-19
748,5922,-10046,15829,139,5962483,219688,5589057,153738,1647734400000,2022-03-20

### Slicing data 3 bulan terakhir(2021-12-20 sampai 2022-03-20)

In [7]:
start_date = '2021-12-19'
end_date = '2022-03-20'

mask = (df['tanggal'] > start_date) & (df['tanggal'] <= end_date)

df = df.loc[mask]
df

,positif,dirawat,sembuh,meninggal,positif_kumulatif,dirawat_kumulatif,sembuh_kumulatif,meninggal_kumulatif,lastUpdate,tanggal
658,133,-94,216,11,4260677,4829,4111835,144013,1639958400000,2021-12-20
659,216,0,205,11,4260893,4829,4112040,144024,1640044800000,2021-12-21
660,179,-83,252,10,4261072,4746,4112292,144034,1640131200000,2021-12-22
661,136,-104,232,8,4261208,4642,4112524,144042,1640217600000,2021-12-23
662,204,17,182,5,4261412,4659,4112706,144047,1640304000000,2021-12-24
...,...,...,...,...,...,...,...,...,...,...
744,13018,-19474,32262,230,5927550,279969,5494606,152975,1647388800000,2022-03-16
745,11532,-17492,28787,237,5939082,262477,5523393,153212,1647475200000,2022-03-17
746,9528,-16498,25827,199,5948610,245979,5549220,153411,1647561600000,2022-03-18
747,7951,-16245,24008,188,5956561,229734,5573228,153599,1647648000000,2022-03-19
748,5922,-10046,15829,139,5962483,219688,5589057,153738,1647734400000,2022-03-20

### Simpan sebagai file csv

In [8]:
df.to_csv('Indonesia_Covid_Update_20des21_20mar22.csv')